<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Forgot Password</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />



</head>
<body>

<H1>Change Password</H1>
<h3>
    <form  action="/forgotPassword" method = "Post">



            <div>
                <label>Username</label>
                <input type="text" name="userName" required="required"/>
            </div>
            <div>
                <label>Email</label>
                <input type="email" name = "email" required="required"/>

            </div>
            <div>
                <label>New Password</label>
                <input type="password" name = "password" required="required"/>

            </div>
            <div>
                <label>Repeat New password</label>
                <input type="password" name = "repeatPassword" required="required"/>

            </div>
<div>
    <input type="submit" value="Set New Password"/>
</div>



    </form>
</h3>


</body>
</html>