<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<link rel="stylesheet" href="/css/game.css" />

<div th:fragment="header">

    <div align="right" th:unless="${@userController.logged}">
        <form action="login" method="Post">
            <label>Username</label>
            <input type="text" name="userName" required="required" />
            <label>Password</label>
            <input type="password" name="password" required="required" />
            <input type="submit" value="Login" />
        </form>
    </div>

    <div align="right" th:if="${@userController.logged}"> You are logged as
        <span th:text="${@userController.getLoggedUserName()}"></span>
    </div>
    <div align="right"><a href="/logout">Logout</a></div>

</div>
</html>