<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
<head>
    <meta charset="ISO-8859-2" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <title>Forum</title>

</head>
<body>
<div th:replace="fragments::header"></div>
<hr></hr>
<h1>Welcome to Forum</h1>
<hr></hr>

<div class="container-fluid">

    <div class="row">
        <div class="col-sm-3">
            <div>
            <form action="addCategory" method="Post">
                <label>New Category </label>
                <input type="text" name="name" required="required"/>
                <input type="submit" value="Add Category" />
            </form>
            </div>
            <h3>All Categories:</h3>
            <table>
                <tr th:each="category: ${@categoryService.getAllCategories()}">
                    <td>
                        <a th:href='${"/clickedCategory?id="+category.id}' th:text="${category.name}">
                        </a>

                    </td>
                </tr>
            </table>

            </div>


        <div class = "col-sm-4">
            <div th:if="${@categoryController.isClicked()}">
                <div th:if="${@userController.isLogged()}">
                  <form action="addTheme" method ="Post">
                      <label>New Theme Name</label>
                      <input type="text" name="title" required="required"/>
                    <input type="submit" value="Add New Theme"/>
                  </form>
                </div>
                <h3>All Themes:</h3>
        <table>
            <tr th:each = "theme: ${@themeService.getThemeByCategory(@categoryController.getActualcategory())}">

                <td >
                    <a th:href='${"/clickedTheme?id="+theme.id}' th:text="${theme.title}"></a>
                </td>
                </tr>
        </table>
        </div>
            <div th:unless ="${@categoryController.isClicked()}">
                <tr th:each = "theme: ${@themeService.getAllThemes()}">
                    <td th:text="${theme.title}"></td>
                </tr>
            </div>

        </div>
    </div>
</div>

<h1 class="section-headline">Vyhladavanie</h1>
<div class="search-box-wrapper">
    <input type="text" placeholder="Search..." class="search-box-input"/>
    <button class="search-box-button">&#128269;</button>
</div>

</body>
</html>