<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<link rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
      integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
      crossorigin="anonymous" />
<head>
    <meta charset="ISO-8859-2" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" />
    <link rel="stylesheet" href="/css/stylesheet.css" />
    <title>Forum</title>

</head>
<body>
    <h1 align="center">Register</h1>
    <div align="right" class="menuLink"><a href="/"><i class="fa fa-home"></i></a></div>
        <form action="/register" method = "Post">
            <div th:if="${@userController.logged}">You are already logged. <a href="/logout">Logout</a>
            </div>
            <div align="center" th:unless="${@userController.logged}">
                <h3>
                    <div>
                        <label>Username</label>
                        <input type="text" name="userName" required="required" size="15"/>
                    </div>
                    <div>
                        <label>Password</label>
                        <input type="password" minlength="6" name = "password" required="required" size="15"/>

                    </div>
                    <div>
                        <label>Validate password</label>
                        <input type="password" name = "repeatPassword" required="required" size="15"/>

                    </div>
                    <div>
                        <label>Email</label>
                        <input type="email" name = "email" required="required" size="15"/>

                    </div>
                    <div>
                        <div th:if = "${registerMessage}" th:text = "${registerMessage}" class= "error-message">here goes message</div>
                        <input type="submit" value="Register"/>
                    </div>
                </h3>
            </div>
        </form>
</body>
</html>