<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <link rel="stylesheet" href="/css/stylesheet.css" />
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    </head>
    <body>
        <div align="right" th:replace="fragments::header"></div>

        <div align="center" th:if="${!@userController.isBlocked() and @userController.logged}">
            <form action="/addComment" method="post">
                <table>
                    <tr>
                        <td><textarea type="text" name="text" required="required" cols="70" rows="7" placeholder="Type your comment here."/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Add comment" required="required"/></td>
                    </tr>
                </table>
            </form>
        </div>
<div th:each="comment: ${@commentService.getComments(@themeController.getActualTheme())}" >
        <table align="center" >
            <tr>
                <td bgcolor="navy" th:text="${comment.user.getUserName()}"></td>
                <td bgcolor="grey" th:text="${comment.date}"></td>
                <td th:if="${comment.user.getUserName().equals(@userController.getLoggedUserName()) || @userController.moderatorLogged() || @userController.adminLogged()}"><a th:href='${"/removeComment?id="+comment.id}' th:text="X"></a></td>
            </tr>
            <tr>
                <td bgcolor="purple" th:text="${comment.text}" colspan="2"></td>
            </tr>
            <tr>
                <td class = "rating" th:text="${@ratingService.getAvgRating(comment.id)}"></td>
                <td th:if="${@userController.logged}"><a th:href="@{/changerating(id=${comment.id},value=1)}">LIKE</a><a th:href="@{/changerating(id=${comment.id},value=0)}">DISLIKE</a></td>
            </tr>
        </table>
</div>
    </body>
<script>
    function update(target, value){
        var $temp = $('<td class = "rating" width="75%"></td>')
        var stars = value /0.2;
        stars = stars.toPrecision(1);
        $($temp).append(value+'/1.0');
        for(var i = 0; stars > i; i++){
        $($temp).append(' STAR');
        }
        $(target).replaceWith($temp);
    }
    $('.rating').each(function(){update(this, this.textContent)})
</script>
</html>