<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
    <head>
        <title>Theme</title>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    </head>
    <body>
        <div align="right" th:replace="fragments::header"></div>

        <div align="center" th:unless="${@userController.logged}">
            <form action="/addComment" method="post">
                <table>
                    <tr>
                        <td><textarea type="text" name="text" required="required" cols="70" rows="7" placeholder="Type your comment here."/></td>
                    </tr>
                    <tr>
                        <td><input type="submit" value="Add comment" required="required"/></td>
                    </tr>
                </table>
            </form>
        </div>

        <div align="center">
            <table>
                <tr th:each="comment: ${@commentService.getComments(theme)}">
                    <td th:text="${comment.user}"></td>
                    <td th:text="${comment.date}"></td>
                </tr>
                <tr th:each="comment: ${@commentService.getComments(theme)}">
                    <td th:text="${comment.text}"></td>
                </tr>
            </table>
        </div>
    </body>
</html>